.header_content{
  width:100%;
  height: 150px;
  background:;
  display:flex;
  justify-content: center;
  align-items: center;
}
.header_btn{
            width:100px;
            height: 100px;
            margin-right: 10%;
            padding:20px;
            cursor: pointer;
            border: 2px solid #61676f;
            border-radius: 80px;
          }
.header_btn:hover{
background:#61676f;


}

.iconImg{
  width:100px;
}
