.main{
  width: 100%;
  height: 1000px;
  margin:0 auto;
  padding: 1px;
  position: relative;
}
.header-background{
  height: 400px;
  background:url("./img/прапори_центр.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
